@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}




.my-class  {
    color: navajowhite;
	margin-right: auto;
    border-bottom:solid #A4999A;
	font-size: 30px;
	width: 270px;
    padding: 0.3em;
    text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}



  p { color: #000;
	  font-size: 19px;
	  
	  padding: 0.6em;
}

h1{
	color: #000;
	font-size: 19px;
	padding: 0.6em;
	text-align: justify;
}


p {
	text-align: justify;
}


header h1 {
  font-weight: 700;
  margin: 0;
  font-family:  Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 5vh;
	background-color: rgba(255, 255, 255, 0);
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}


.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  height: 80vh;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.btn{
	border-color:#e29578;
	color: #fff;
	background-color: #e29578;
}

.btn:hover{
	background:#CC7E61;
	border-color:#CC7E61;
}

.btn2{
	width: 5em !important;
	height: 2.5em !important;
	text-align: center;
	border-color:#e29578;
	color: #fff;
	background-color: #e29578;
	border-radius: 4px;
	transition: 0.2s;
	border:none;
	font-size: 0.9em;
	text-decoration: none;
	box-decoration: none;
}

.btn2:hover{
	background-color:#CC7E61 ;
	text-decoration: none;
	border: none;
	box-decoration: none;
}

.btn2:focus,.btn2:active {
   outline: none !important;
   box-shadow: none !important;
	background-color: #CC7E61 !important;
}



.carousel-inner > .item > img {
      width:100%; 
      height:50vh !important;
    }

.overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:10vw;
  right:7vw;
  text-align:center;
}



.toptext{
	color: white;
	font-size: 2.5vw;
	font-family: 'Dancing Script', cursive;
}

.bottomtext{
	font-size: 1.3vw;
	font-family: 'Roboto', sans-serif;
}

.navbar-brand{
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	color: #fff;
	position: absolute;
	z-index: 1;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-brand:hover{
	color: #FFDDD2;
}


.navbar{
	height: 10vh;
	position: absolute;
}

.nav-item{
	font-size:20px;
	color:rgba(255,255,255,0.80);
}

.nav-item > .nav-link{
	font-size:20px;
	color:rgba(255,255,255,0.80);
}

.nav-item > .nav-link:hover{
	color:#fff;
}

.nav-item:hover{
	color:#fff;
}

.dropdown-menu{
	background: #EDF6F9;
}

.navbar-nav{
    position:relative;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
		}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
  font-family: 'Roboto', sans-serif;
}

.navbar-nav > li:nth-child(3) {
  padding-left:20px;
  padding-right:140px;
}

.navbar-nav > li:nth-child(4) {
  padding-left:20px;
  padding-right:20px;
}

@media (max-width: 767px) {
  .navbar-collapse
    {
        background-color:#E29578;
    }
}

.container-top{
	height:120px;
	width: 100%;
}

.container-intro{
	background-color: #ffddd2;

	width: 100%;
}

.logo{
    height: 300px;
}

.logo-image{
	top: -20%;
}

.h2-intro{
	font-weight:1000;
	font-size: 25px;
}

.card{
	border: none;
}


.card-title{
text-align: center;
font-size: 27px;
}

.card-text{
text-align: center;
}

.carousel-control-prev-icon{ 
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e9967a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon{ 
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e9967a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.container-footer{
	height: 120px;
	background-color: #006D77;
}

.social{
	font-family: 'Dancing Script', cursive;
	color: #EDF6F9;
	font-size: 1.5em;
}

.container-copyright{
	height: 25px;
	background-color:#00575F;
}

.cpr{
	font-size: 0.6em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-style: oblique;
	color: #EDF6F9;
}

.ftr{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.overlay2 { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:13vw;
  right:auto;
	left:auto;
  text-align:center;
}




hr{
background: white;	
}

.contact-form{
background-color:#006D77;
color:black;
margin-top: 2em;
align-content: center;
margin-right: none;
margin-bottom: 3em;
padding: 20px;
}

input[type=text] {
  border: none;
  background-color: #006D77;
  border-bottom: 2px solid #fff;
  color: #FFFFFF;
}

input[type=text]:focus {
  outline: none;
  background-color: #006D77;
  color: #FFFFFF;
} 
	
textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: #006D77;
  resize: none;
  color: #FFFFFF;
}	
	
.form-control-contact{
  border: none;
  background-color: #006D77;
  border-bottom: 2px solid #fff;
}	
	
.form-control-contact:focus{
  outline: none;
  background-color: #006D77; 
}
	
#map-container-google-11{
	margin-top: 6em;
}

.crew-title{
	text-align: center;
	font-size: 0.9em;
	font-weight:600;
}

.crew-text{
	text-align: center;
	font-size: 0.8em;
}

.crew-header{
	font-family: 'Dancing Script', cursive;
	 font-size: 3em;
	margin-bottom: -45px;
	z-index: 1;
	color: #00BFB2;
	text-align:center;
}

.container-crew{
	z-index: -1;
}

.container-about-txt{
	background-color: #EDF6F9;
	text-align:center;
}

.vision{
	font-weight:700;
}

.about-txt{
	margin:auto;
	text-align: center;
}

.bg{
	width:100%;
	z-index:0;
	margin-bottom: -10px;
}

.mission{
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	margin-bottom:70px;
	z-index:1;
	
}

.mission > p{
	text-align:center;
}

.mission > h1{
	text-align:center;
	font-weight: 700;
}

.form-group{
color: #fff;
font-size: 19px;
padding: 0.1em;
}
	
.contact-form-text{
color: #fff !important;
font-size: 19px !important;
padding: 0.1em !important;
}
	
.btn3{
	width: 5em !important;
	height: 2.5em !important;
	text-align: center;
	border-color:#e29578;
	color: #fff;
	background-color: #e29578;
	border-radius: 4px;
	transition: 0.2s;
	border:none;
	font-size: 0.9em;
	margin-left: auto;
	margin-right: auto;
}

.btn3:hover{
	background-color:#CC7E61;
	text-decoration: none;
	border: none;
	box-decoration: none;
}


#comment {
  color: #fff;
  border: none;
  background-color: #006D77;
  border-bottom: 2px solid #fff;
}



.social-media-contact{
	margin-top: 6em;
	background-color: #f2f3f4;
	margin-bottom: 7.75em;
}

#fb-contact{
	max-width: 100%;
	height: auto;
}

#insta-contact{
	max-width: 100%;
	height: auto;
}

#mail-contact{
	max-width: 100%;
	height: auto;
}


.container-sea{
	height: 450px;
	width: 100%;
	background-image: url("../images/boat.jpg");
	background-size:cover;
	background-position: center;
}

.block-sea-text{
	background-color: #EDF6F9;
	height: 140px;
	margin:auto;
	top:33%;
	overflow:auto;
}

.sea-text{
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
	position: absolute;
	margin-top: 90px;
	margin-left:auto;
	margi-right:auto;
	left:0;
	right:0;
	z-index:12;
	color:#E29578;
	text-shadow: 2px 1px #fff;
	
}

.block-sea-text > p{
	text-align: center;
}

/* Style the container with a rounded border, grey background and some padding and margin */
.container-testm {
	background-color: #EDF6F9;
	padding: 16px;
	margin: 16px 0;
}



.container-testm > p{
	font-size: 0.8em;
}

.container-testm > h1{
	font-weight: 700;
}

  .container-testm img {
    margin: auto;
    display: block;
	 float:left;
	margin-right: 20px;
	border-radius: 50%;

  }

.testm-header{
	text-align: center;
	font-weight:700;
	font-size:2em;
	color:#006D77;
}

#peter{
	margin-top: 24px;
}

h-news{
	color: black;
	font-size: 3em;
	text-align: center;
	border-bottom: medium solid black;
	margin-left: auto;
	margin-right: auto;
	font-weight:600;
}

.row-news{
	align-content: center;
		margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h-date{
	align-content: center;
	text-align: center;
	color: black;
	font-weight: 300;
	font-size: 1.2em;
	
}

h-news-article-title{
	align-content: center;
	font-size: 1.7em;
	font-weight: bold;
	
}

.news-block{
	text-align: center;
	border-right: thin solid black;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #1A1919;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}






















